.pr-print-header {
	text-align: center;
	page-break-before: always;
}

.pr-title-space {
	padding-bottom: 30px;
}

.pr-octo-logo {
	width:40px;
	height:40px;
}

.pr-garmin-logo {
	width:40px;
	height:40px;
}

.pr-chrome-logo {
	width:50px;
	height:55px;
}

.pr-space {
	padding-bottom: 10px;
}

.pr-desc {
	font-size: 16px;
	padding-bottom: 5px;
}

.pr-title {
	font-size: 30px;
}

.pr-line {
	margin-top: 20px;
	margin-bottom: 20px;
}

.pr-label {
	padding-right: 5px;
}

.pr-label span {
	background-color: lightblue;
	color: black;
}
